.blogs-grid {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 1fr;
}

@media only screen and (min-width: 768px) {
  .blogs-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .blogs-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
