@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

:root {
  --max-w: 540px;

  --color-yellow: #ffe500;
  --color-black: #1f1e1d;
}

@media only screen and (min-width: 576px) {
  :root {
    --max-w: 540px;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --max-w: 720px;
  }
}

@media only screen and (min-width: 992px) {
  :root {
    --max-w: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --max-w: 1140px;
  }
}

@media only screen and (min-width: 1400px) {
  :root {
    --max-w: 1560px;
  }
}

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  line-height: 24px;
}

h2 {
  margin: 0 0 0.5rem 0;
}
